.body-wrapper {
  width: 100%;
}

.ability-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 100%));
  gap: 10px;
  padding: 10px;
}

.ability-wrapper.resources-wrapper {
  grid-template-columns: repeat(2, minmax(0, 100%));
}
