.ability-navigation {
  display: flex;
  padding: 5px 10px;
  gap: 10px;
}

.nav-item {
  flex: 0 1 50%;
  text-align: center;
  padding: 5px;
  border: 1px solid;
}

.nav-item.active {
  color: var(--accent);
}

.nav-item.accented {
  color: #E0E80B;
  filter: hue-rotate(45deg);
}