.rest-triggers {
  grid-column: 1 / -1;
  display: flex;
  gap: 10px;
  margin-top: 24px;
}

.rest-trigger {
  flex: 1;
  font-size: 20px;
  border: 1px solid var(--accent);
  color: var(--accent);
  border-radius: 5px;
  padding: 8px 16px;
  text-align: center;
}

.resource-item {
  border: 1px solid;
  padding: 10px;
  justify-content: center;
  border-radius: 5px;
  gap: 16px;
}

.resource-name {
  font-size: 18px;
  color: var(--accent);
  text-align: center;
  max-width: 100%;
  word-wrap: break-word;
}

.resource-body {
  flex: 1;
  gap: 16px;
  width: 100%;
  justify-content: space-around;
}

.resource-current-value {
  font-size: 24px;
}

.resource-counter-footer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.resource-max-value {
  font-style: italic;
}

.resource-actions {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 12px;
}

.resource-actions button {
  width: 30px;
  aspect-ratio: 1;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  border: 1px solid var(--accent);
  border-radius: 5px;
  font-size: 20px;
  color: var(--accent);
  background-color: var(--dark);
}

.resource-values {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 100%));
  gap: 12px;
}

.resource-value {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent);
  color: var(--accent);
  border-radius: 5px;
  font-size: 24px;
}

.resource-value.inactive {
  border: 1px solid var(--grey);
  color: var(--grey);
}

.resource-value input {
  width: 60%;
  height: 60%;
  font-size: 24px;
  text-align: center;
}
