.spell-filter-wrapper {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.spell-filter-wrapper.sticky {
  position: fixed;
  top: 10px;
  transform: translateY(-100px);
  width: calc(100% - 20px);
  z-index: 10;
  transition: all 500ms ease-in;
}

.spell-filter-wrapper.sticky.active {
  transform: translateY(0px);
}

.spell-filter-wrapper.sticky::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  bottom: -10px;
  right: 0;
  background: var(--dark);
  opacity: .8;
  z-index: -1;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, .5);
}

.spell-filter {
  flex: 1;
  text-align: center;
  padding: 5px;
  border: 1px solid;
  border-radius: 15px;
}

.spell-filter.active {
  color: var(--dark);
  border-color: var(--accent);
  background: var(--accent);
}