#extra-spell-filter-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}

#extra-spell-filter-container i {
  position: relative;
  z-index: 100;
  background: var(--accent);
  color: var(--dark);
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,.5);
  border-radius: 50%;
}

.extra-spell-filter-wrapper i#extra-spell-filter-open-btn {
  font-size: 30px;
  padding: 15px;
  width: 30px;
  height: 30px;
}

.extra-spell-filter-panel {
  --panel-width: 84dvw;
  --panel-height: 70dvh;
  position: fixed;
  width: var(--panel-width);
  height: var(--panel-height);
  background: var(--dark);
  top: calc((100dvh - var(--panel-height)) / 2);
  left: calc((100dvw - var(--panel-width)) / 2);
  transition: all .2s ease-in;
  border: 1px solid;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.extra-spell-filter-wrapper.open .extra-spell-filter-panel {
  opacity: 1;
  pointer-events: all;
}

.extra-spell-filter-panel .spell-filter-panel-title {
  font-size: 24px;
  color: var(--accent);
  margin: 15px;
  margin-bottom: 10px;
}

.extra-spell-filter-panel .spell-filter-option-groups {
  overflow: auto;
}

.extra-spell-filter-panel .extra-spell-filter-group {
  margin: 15px;
  margin-bottom: 25px;
}

.extra-spell-filter-panel .extra-spell-filter-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.extra-spell-filter-panel .extra-spell-filter-btn {
  padding: 8px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.extra-spell-filter-panel .extra-spell-filter-btn::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--light);
  border-radius: 5px;
  margin-right: 5px;
}

.extra-spell-filter-panel .extra-spell-filter-btn.active::after {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background: var(--accent);
  border-radius: 3px;
  left: 4px;
  top: 12px;
}

.extra-spell-filter-panel .apply-filters-button {
  margin: 15px;
  margin-top: auto;
  background: var(--accent);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: var(--dark);
}

.extra-spell-filter-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--grey);
  opacity: 0;
  transition: all .2s ease-in;
  pointer-events: none;
}

.extra-spell-filter-wrapper.open .extra-spell-filter-backdrop {
  opacity: .8;
  pointer-events: all;
}