#spell-statistics-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}

#spell-statistics-container i {
  position: relative;
  z-index: 100;
  background: var(--accent);
  color: var(--dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spell-statistics-wrapper i#spell-statistics-open-btn {
  font-size: 30px;
  padding: 15px;
  width: 30px;
  height: 30px;
}

.spell-statistics-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--grey);
  opacity: 0;
  transition: all 0.2s ease-in;
  pointer-events: none;
}

.spell-statistics-modal-backdrop.open {
  opacity: 0.8;
  pointer-events: all;
}

.spell-statistics-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100svw;
  height: calc(100% - 50px);
  top: 0;
  left: 0;
  background: var(--bg-gradient);
  z-index: 100;
  transform: translateY(150%);
  transition: transform 350ms ease-in-out;
  border-radius: 16px 16px 0 0;
}

.spell-statistics-modal.open {
  transform: translateY(50px);
}

.close-statistics-modal-btn {
  display: flex;
  justify-content: center;
  padding: 12px;
}

#spell-statistics-container .close-statistics-modal-btn i {
  background: none;
  color: var(--light);
  font-size: 24px;
}

.spell-statistics-charts {
  flex: 1;
  overflow: auto;
}

.spell-statistics-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 28px;
  color: var(--accent);
  letter-spacing: 1px;
  margin: 16px;
  margin-top: 0px;
  padding-top: 16px;
  border-top: 1px solid var(--accent-muted);
}

.spell-statistics-title:first-child {
  border: none;
}
