.spell-item {
  border: 1px solid;
  aspect-ratio: 1;
  padding: 10px;
  justify-content: center;
  border-radius: 5px;
  gap: 5px;
  position: relative;
  overflow: hidden;
}

.spell-item.active {
  grid-column-start: 1;
  grid-column-end: span 3;
  aspect-ratio: unset;
}

.spell-name {
  font-size: 20px;
  text-align: center;
  max-width: 100%;
  word-wrap: break-word;
}

.spell-item.active .spell-name {
  color: var(--accent);
}

.spell-level,
.concentration-spell-indicator {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--accent);
  color: var(--dark);
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 14px;
}

.concentration-spell-indicator {
  left: unset;
  right: 0;
  background: #E0E80B;
}

.spell-info {
  display: none;
}

.spell-item.active .spell-info {
  display: block;
}

.spell-description {
  line-height: 1.3;
}

.spell-description p,
.spell-description ul {
  margin: 10px 0;
}

.spell-description ul {
  padding-left: 16px;
}

.spell-description ul.two-column {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 100%));
  grid-template-rows: repeat(4, minmax(0, 100%));
  grid-auto-flow: column;
}

.spell-description ul li {
  list-style-type: disc;
  margin-bottom: 5px;
}

.spell-description ul.two-column.numbered li {
  list-style-type: decimal;
}

.spell-description p b,
.spell-description li b {
  color: var(--accent);
}

.spell-description p i,
.spell-description li i {
  font-size: 14px;
}