.spell-item {
  border: 1px solid var(--accent-dark);
  aspect-ratio: 1;
  padding: 10px;
  justify-content: center;
  border-radius: 16px;
  gap: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: var(--item-shadow);
  background: var(--bg-gradient);
}

.spell-item.active {
  grid-column-start: 1;
  grid-column-end: span 3;
  aspect-ratio: unset;
}

.spell-item.disabled {
  filter: brightness(0.5) grayscale(1);
}

.spell-item.accented {
  filter: hue-rotate(45deg);
  border: 1px solid #e0e80b;
}

.spell-name {
  margin-top: 4px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  max-width: 100%;
  word-wrap: break-word;
  max-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.spell-item.active .spell-name {
  color: var(--accent);
  font-size: 24px;
  line-height: 28px;
  margin-top: 28px;
  margin-bottom: 12px;
}

.spell-level {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--accent-muted);
  color: var(--dark);
  padding: 2px 8px;
  border-radius: 16px 0px 16px 0px;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.spell-item.prepared .spell-level {
  background: var(--green);
}

.spell-icon-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.concentration-spell-indicator,
.ritual-spell-indicator {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('/assets/icons/concentration_icon.svg');
  background-size: contain;
  width: 32px;
  height: 24px;
}

.ritual-spell-indicator {
  top: unset;
  right: unset;
  bottom: 0;
  left: 0;
  background-image: url('/assets/icons/ritual_icon.svg');
}

.spell-item.active .spell-icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.spell-item.active .concentration-spell-indicator,
.spell-item.active .ritual-spell-indicator {
  width: 48px;
  height: 36px;
  position: unset;
}

.spell-info {
  display: none;
}

.spell-item.active .spell-info {
  display: block;
}

.spell-description {
  line-height: 1.3;
  font-size: 16px;
  margin-top: 24px;
}

.spell-description p,
.spell-description ul {
  margin: 16px 0;
}

.spell-description ul {
  padding-left: 16px;
}

.spell-description ul.two-column {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 100%));
  grid-template-rows: repeat(4, minmax(0, 100%));
  grid-auto-flow: column;
}

.spell-description ul li {
  list-style-type: disc;
  margin-bottom: 5px;
}

.spell-description ul.two-column.numbered li {
  list-style-type: decimal;
}

.spell-description p b,
.spell-description li b {
  color: var(--accent);
}

.spell-description p i,
.spell-description li i {
  font-size: 14px;
}

.spell-description a,
.spell-description a b {
  text-decoration: none;
  color: var(--link);
}
