.spell-filter-wrapper {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.spell-filter {
  flex: 1;
  text-align: center;
  padding: 5px;
  border: 1px solid;
  border-radius: 15px;
}

.spell-filter.active {
  color: var(--dark);
  border-color: var(--accent);
  background: var(--accent);
}