*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --dark: #222222;
  --light: #bbbbbb;
  --grey: #6C6C6C;
  --accent: #D29A38;
  --green: #18AF6C;
  --link: #2BACE3;
}

@font-face {
  font-family: 'CustomFont';
  src: url('/assets/fonts/draconis/Draconis-JRw6B.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: 'Nunito Sans', sans-serif;
}

body.no-scroll {
  overflow: hidden;
}